header {
  padding: .5rem;
  /*border-radius: 7px;*/
  /*background: #60C4C4;*/
  border-bottom: 2px solid grey;
}

h1 {
  margin-left: 1rem;
  /*color: #DBDBDB;*/
  color: grey;
}

span {
  float: right;
  margin-right: 1rem;
  cursor: pointer;
}
